@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1723174840090') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-js:before {
  content: "\ec68";
}

.icon-cpp:before {
  content: "\e61a";
}

.icon-java:before {
  content: "\e6d7";
}

